:root{
    height: 100%;
}

body { 
    font-family: "Roboto";
    background-color: #222831;
    text-align: center;
    height: 100%;
    margin: 0px;
}

#root {
    height: 100%;
    width: 100%;
}

.autenticate {
    background-image: url("Component 1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}